<!-- ------------------------------------------------------------
	$Id: wooc95.html,v 1.1 1995/06/02 22:16:07 itojun Exp $
	Copyright: Jun-ichiro ITOH
------------------------------------------------------------ -->

<HTML>

<!-- ------------------------------------------------------------ -->
<HEAD>
<TITLE>The design and implementation of IPv6 router on Apertos operating system</TITLE>
</HEAD>

<!-- ------------------------------------------------------------ -->

<BODY>
<H1>Apertos$@%*%Z%l!<%F%#%s%0%7%9%F%`$K$h$k(BIPv6$@%k!<%?$N9=C[(B</H1>

<H2>
Author:
</H2>
<A HREF=/person/itojun.html>$@0KF#=c0lO:(B</A>$@!"(B
<A HREF=http://www.csl.sony.co.jp/person/ykt.html>$@2#<jLwI'(B</A>$@!"(B
<A HREF=/person/mario.html>$@=j??M}M:(B</A>

<H2>
Book Title:
</H2>
JSSST 13th annual conference, 1996

<!-- ------------------------------------------------------------ -->
<HR>

<H2>
Abstract:
</H2>
$@%$%s%?!<%M%C%H$G8=:_MxMQ$5$l$F$$$k(BIPv4$@%W%m%H%3%k$O!"(B
$@%$%s%?!<%M%C%H$NGzH/E*@.D9$KBQ$($i$l$J$$!"$H$$$&;XE&$,$"$k!#(B
$@$3$N$?$a!"(BIPv6$@%W%m%H%3%k$,Ds0F$5$l!"8=:_0\9T$X8~$1$?9M;!$,(B
$@9T$o$l$F$$$k!#(B
$@$7$+$7$J$,$i!"2f!9$O%k!<%?$J$I$G8=:_MQ$$$i$l$F$$$k%W%m%H%3%k(B
$@=hM}It$N9=@.K!$K$OBg$-$JLdBj$,$"$k$H9M$($F$$$k!#(B
$@8=:_$N9=@.K!$G$O<B1?MQ$N7k2L$KH<$&%W%m%H%3%k$N;EMMJQ99!"(B
$@%k!<%?$NLr3d$K$h$k%=%U%H%&%'%"E*MW5a$N:90[$J$I$K(B
% $@%k!<%?$ND9<wL?2=MW5a$J$I$K(B
$@BP=h$9$k$3$H$,$G$-$J$$!#(B
$@K\O@J8$G$O!"(BApertos$@%*%Z%l!<%F%#%s%0%7%9%F%`>e$G(BIPv6$@%k!<%?$N(B
$@%W%m%H%3%k=hM}It$r<BAu$9$k$3$H$G$3$l$i$NLdBj$N2r7h$rL\;X$7$F$$$k!#(B
$@JB9T%*%V%8%'%/%H$K$h$k%=%U%H%&%'%"9=@.$K$h$j%W%m%H%3%k=hM}It$N(B
$@%b%8%e!<%k4V$NFHN)@-$r3NJ]$7!"<+8JH?1G7W;;$K4p$E$/(BOS$@%"!<%-%F%/%A%c$N(B
$@MxMQ$K$h$j%W%m%0%i%^$K:GE,$J%W%m%0%i%_%s%04D6-$rDs6!$9$k$3$H$,$G$-$k!#(B

<!-- ------------------------------------------------------------ -->
<HR>

<H2>
How to get this paper?
</H2>

To obtain this paper, please click the icon:
<A HREF=ftp://ftp.cs.keio.ac.jp/pub/keio-cs-papers/mt/oops/1996/itojun-jssst96.ps.gz><IMG SRC=/icon/paper24x32.gif ALIGN=TOP></A><P>
If you can't fetch it via ftp by some reason, or you can't print the file by your printer, feel free to contact
<A HREF=/person/itojun.html>Jun-ichiro "itojun" ITOH</A>(<I>itojun@mt.cs.keio.ac.jp</I>).
Thank you very much for your attention.

</BODY>
</HTML>
